<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class='container'>
    <div class='card'>
        <div class='card-header'>
                <h1>{{ question.question_text }}</h1>
        </div>
        <div class='card-body'>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Vote!</button>
                    </form>
                    
                    <form action="{% url 'polls:index' %}">
                            <button type="submit" class="btn btn-success">Back to polls...</button>
                </form>
        </div>
    </div>    
</div>