#continue_css{
    border-color:rgb(110, 214, 119);
    background-color:rgb(110, 214, 119);
    color:white;
}

#graph_css{
    border-color:rgb(100, 129, 190);
    background-color:rgb(100, 129, 190);
    color:white;
}

#back_css{
    border-color:rgb(255, 72, 102);
    background-color:rgb(255, 72, 102);
    color:white;
}